@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Forget Password </h1>
<div class="main-w3layouts wrapper">
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="SendResetPassword" method="post">


				<div asp-validation-summary="All"></div>
			
				<input type="text" asp-for="Email" placeholder="Email" required="">
				<br />
				<input type="submit" value="Send Message">
			</form>
			
		</div>
	</div>
</div>